In [49]:
import numpy as np
import pandas as pd

In [50]:
df = pd.read_csv("C:\\Users\\libin_urv2w13\\Desktop\\mljourney\\Supervised-ML\\Simple-Linear-Reg\\tv-mraketing-process\\salary-process\\Salary_dataset.csv.xls")

In [51]:
df.columns

Index(['id', 'YearsExperience', 'Salary'], dtype='object')

In [52]:
df.isnull().sum()

id                 0
YearsExperience    0
Salary             0
dtype: int64

In [53]:
df[df.duplicated()]

Empty DataFrame
Columns: [id, YearsExperience, Salary]
Index: []

In [54]:
df.drop(columns="id",inplace=True)

In [55]:
df.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [56]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [57]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=4)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred)*100)

95.04404484884267