In [259]:
import numpy as np
import pandas as pd

In [260]:
df = pd.read_csv("C:\\Users\\libin_urv2w13\\Desktop\\mljourney\\Supervised-ML\\multiple-Linear-Reg\\car-process\\Car.csv.xls")

In [261]:
df.head()

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Alto 800 LXI Opt,2023,410000,10000,Petrol,Individual,Manual,First Owner,19.03 kmpl,999 CC,71.01bhp,96Nm,5.0
1,Skoda Slavia 1.0 TSI Ambition,2023,1350000,10000,Petrol,Individual,Manual,First Owner,14.08 kmpl,1956 CC,167.67bhp,350nm,5.0
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15 kmpl,998 CC,118.35bhp,172Nm,5.0
3,MG ZS EV Exclusive,2023,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52 kmpl,998 CC,58.33bhp,78Nm,5.0
4,Tata Punch Adventure,2023,715000,10000,Petrol,Individual,Manual,First Owner,12.15 kmpl,1451 CC,141bhp,250Nm,5.0

In [262]:
df.isnull().sum()

Name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [263]:
df.dtypes

Name              object
year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage           object
engine            object
max_power         object
torque            object
seats            float64
dtype: object

In [264]:
df[df.duplicated()]

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
25,Honda Civic ZX Diesel BSIV,2020,2125000,5500,Diesel,Dealer,Manual,First Owner,26.8 kmpl,1597 CC,118 bhp,300Nm@ 2000rpm,5.0
35,Hyundai Xcent 1.2 VTVT SX,2020,524000,32000,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5.0
37,Kia Seltos HTX Plus AT D,2020,1900000,5000,Diesel,Dealer,Automatic,First Owner,17.8 kmpl,1493 CC,113.4 bhp,250nm@ 1500-2750rpm,5.0
44,Maruti Alto 800 LXI,2020,350000,5000,Petrol,Individual,Manual,First Owner,22.05 kmpl,796 CC,47.3 bhp,69Nm@ 3500rpm,5.0
63,Maruti Ignis Zeta AMT,2020,600000,5000,Petrol,Individual,Automatic,First Owner,20.89 kmpl,1197 CC,81.80 bhp,113Nm@ 4200rpm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8056,Maruti Esteem Lxi,2002,95000,90000,Petrol,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
8070,Hyundai Santro GS zipPlus,2001,60000,71000,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
8090,Maruti Alto LX,2000,45957,90000,Petrol,Individual,Manual,Second Owner,19.7 kmpl,796 CC,46.3 bhp,62Nm@ 3000rpm,5.0
8097,Toyota Qualis Fleet A3,2000,200000,100000,Diesel,Individual,Manual,First Owner,NaN,NaN,NaN,NaN,NaN
8114,Mitsubishi Lancer 2.0 GLd,1999,150000,198000,Diesel,Individual,Manual,Second Owner,14.8 kmpl,1998 CC,68 bhp,"12.5@ 3,000(kgm@ rpm)",5.0

In [265]:
df.drop_duplicates(inplace=True)
df[df.duplicated()]

Empty DataFrame
Columns: [Name, year, selling_price, km_driven, fuel, seller_type, transmission, owner, mileage, engine, max_power, torque, seats]
Index: []

In [266]:
df["mileage"] = df["mileage"].str.split(" ").str[0]
df["mileage"] = df["mileage"].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6946 entries, 0 to 8147
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           6946 non-null   object
 1   year           6946 non-null   int64
 2   selling_price  6946 non-null   int64
 3   km_driven      6946 non-null   int64
 4   fuel           6946 non-null   object
 5   seller_type    6946 non-null   object
 6   transmission   6946 non-null   object
 7   owner          6946 non-null   object
 8   mileage        6738 non-null   float64
 9   engine         6738 non-null   object
 10  max_power      6741 non-null   object
 11  torque         6737 non-null   object
 12  seats          6738 non-null   float64
dtypes: float64(2), int64(3), object(8)
memory usage: 759.7+ KB

In [267]:
df["engine"] = df["engine"].str.split(" ").str[0]
df["engine"] = df["engine"].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6946 entries, 0 to 8147
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           6946 non-null   object
 1   year           6946 non-null   int64
 2   selling_price  6946 non-null   int64
 3   km_driven      6946 non-null   int64
 4   fuel           6946 non-null   object
 5   seller_type    6946 non-null   object
 6   transmission   6946 non-null   object
 7   owner          6946 non-null   object
 8   mileage        6738 non-null   float64
 9   engine         6738 non-null   float64
 10  max_power      6741 non-null   object
 11  torque         6737 non-null   object
 12  seats          6738 non-null   float64
dtypes: float64(3), int64(3), object(7)
memory usage: 759.7+ KB

In [268]:
df["max_power"] = df["max_power"].str.split("b").str[0]
df["max_power"] = df["max_power"].replace(' ',np.nan)
df["max_power"] = df["max_power"].astype(float)

In [269]:
# df["torque"] = df["torque"].replace(' ',np.nan)
df["torque"] = df["torque"].str.strip().str.split("N|n|@|k|\(| ").str[0]
df["torque"] = df["torque"].astype(float)
df.torque

<>:2: SyntaxWarning: "\(" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\("? A raw string is also an option.
<>:2: SyntaxWarning: "\(" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\("? A raw string is also an option.
C:\Users\libin_urv2w13\AppData\Local\Temp\ipykernel_18724\3263681473.py:2: SyntaxWarning: "\(" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\("? A raw string is also an option.
  df["torque"] = df["torque"].str.strip().str.split("N|n|@|k|\(| ").str[0]

0        96.0
1       350.0
2       172.0
3        78.0
4       250.0
        ...
8143    106.0
8144      NaN
8145     59.0
8146      NaN
8147      NaN
Name: torque, Length: 6946, dtype: float64

In [270]:
df.isnull().sum()

Name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          208
engine           208
max_power        206
torque           209
seats            208
dtype: int64

In [271]:
df.columns[8:13]

Index(['mileage', 'engine', 'max_power', 'torque', 'seats'], dtype='object')

In [272]:
df["brand"] = df["Name"].str.strip().str.split(" ").str[0]
df.drop(columns="Name",inplace=True)
df.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,brand
0,2023,410000,10000,Petrol,Individual,Manual,First Owner,19.03,999.0,71.01,96.0,5.0,Maruti
1,2023,1350000,10000,Petrol,Individual,Manual,First Owner,14.08,1956.0,167.67,350.0,5.0,Skoda
2,2023,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15,998.0,118.35,172.0,5.0,BMW
3,2023,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52,998.0,58.33,78.0,5.0,MG
4,2023,715000,10000,Petrol,Individual,Manual,First Owner,12.15,1451.0,141.00,250.0,5.0,Tata

In [273]:
df.columns

Index(['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats', 'brand'],
      dtype='object')

In [274]:
df.columns[1]

'selling_price'

In [275]:
x = df.iloc[:,:]
x = x.drop(columns="selling_price")
x.head()

,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,brand
0,2023,10000,Petrol,Individual,Manual,First Owner,19.03,999.0,71.01,96.0,5.0,Maruti
1,2023,10000,Petrol,Individual,Manual,First Owner,14.08,1956.0,167.67,350.0,5.0,Skoda
2,2023,1000,Diesel,Dealer,Automatic,First Owner,18.15,998.0,118.35,172.0,5.0,BMW
3,2023,10000,Electric,Dealer,Automatic,First Owner,32.52,998.0,58.33,78.0,5.0,MG
4,2023,10000,Petrol,Individual,Manual,First Owner,12.15,1451.0,141.00,250.0,5.0,Tata

In [276]:
x.columns

Index(['year', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner',
       'mileage', 'engine', 'max_power', 'torque', 'seats', 'brand'],
      dtype='object')

In [277]:
y = df.iloc[:,1]
y

0        410000
1       1350000
2       5800000
3       2650000
4        715000
         ...
8143      99000
8144     120000
8145      45000
8146      55000
8147     300000
Name: selling_price, Length: 6946, dtype: int64

In [278]:
x.columns[6:11]

Index(['mileage', 'engine', 'max_power', 'torque', 'seats'], dtype='object')

In [279]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan,strategy="most_frequent")
x.iloc[:,6:11] = imputer.fit_transform(x.iloc[:,6:11])

In [280]:
x.head()

,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,brand
0,2023,10000,Petrol,Individual,Manual,First Owner,19.03,999.0,71.01,96.0,5.0,Maruti
1,2023,10000,Petrol,Individual,Manual,First Owner,14.08,1956.0,167.67,350.0,5.0,Skoda
2,2023,1000,Diesel,Dealer,Automatic,First Owner,18.15,998.0,118.35,172.0,5.0,BMW
3,2023,10000,Electric,Dealer,Automatic,First Owner,32.52,998.0,58.33,78.0,5.0,MG
4,2023,10000,Petrol,Individual,Manual,First Owner,12.15,1451.0,141.00,250.0,5.0,Tata

In [281]:
x.isnull().sum()

year            0
km_driven       0
fuel            0
seller_type     0
transmission    0
owner           0
mileage         0
engine          0
max_power       0
torque          0
seats           0
brand           0
dtype: int64

In [282]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("encoder",OneHotEncoder(sparse_output=False),["brand","fuel","seller_type","transmission","owner"])],remainder="passthrough")
x = pd.DataFrame(ct.fit_transform(x),columns=ct.get_feature_names_out())
x.head()

,encoder__brand_Ambassador,encoder__brand_Ashok,encoder__brand_Audi,encoder__brand_BMW,encoder__brand_Chevrolet,encoder__brand_Daewoo,encoder__brand_Datsun,encoder__brand_Fiat,encoder__brand_Force,encoder__brand_Ford,...,encoder__owner_Second Owner,encoder__owner_Test Drive Car,encoder__owner_Third Owner,remainder__year,remainder__km_driven,remainder__mileage,remainder__engine,remainder__max_power,remainder__torque,remainder__seats
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2023.0,10000.0,19.03,999.0,71.01,96.0,5.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2023.0,10000.0,14.08,1956.0,167.67,350.0,5.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2023.0,1000.0,18.15,998.0,118.35,172.0,5.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2023.0,10000.0,32.52,998.0,58.33,78.0,5.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2023.0,10000.0,12.15,1451.0,141.00,250.0,5.0

In [283]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=4)

In [284]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [285]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error,root_mean_squared_error
print(r2_score(y_test,y_pred)*100)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(root_mean_squared_error(y_test,y_pred))

73.34758504855743
69376083881.72949
138148.03221141302
263393.40136330196

In [286]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor,GradientBoostingRegressor

In [287]:
models = [DecisionTreeRegressor,RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor]
for model in models:
    md = model()
    md.fit(x_train,y_train)
    y_pred = md.predict(x_test)
    print("=====",model,"====")
    print(r2_score(y_test,y_pred)*100)

===== <class 'sklearn.tree._classes.DecisionTreeRegressor'> ====
82.66072753030296
===== <class 'sklearn.ensemble._forest.RandomForestRegressor'> ====
88.72378804983934
===== <class 'sklearn.ensemble._weight_boosting.AdaBoostRegressor'> ====
-3.7493487947385162
===== <class 'sklearn.ensemble._gb.GradientBoostingRegressor'> ====
88.87381250494903