In [2]:
! pip list

Package                 Version
----------------------- -----------
asttokens               3.0.1
colorama                0.4.6
comm                    0.2.3
contourpy               1.3.3
cycler                  0.12.1
debugpy                 1.8.19
decorator               5.2.1
et_xmlfile              2.0.0
executing               2.2.1
fonttools               4.61.1
ipykernel               7.1.0
ipython                 9.9.0
ipython_pygments_lexers 1.1.1
jedi                    0.19.2
jupyter_client          8.8.0
jupyter_core            5.9.1
kiwisolver              1.4.9
matplotlib              3.10.8
matplotlib-inline       0.2.1
nest-asyncio            1.6.0
numpy                   2.4.1
openpyxl                3.1.5
packaging               26.0
pandas                  3.0.0
parso                   0.8.5
pillow                  12.1.0
pip                     25.3
platformdirs            4.5.1
prompt_toolkit          3.0.52
psutil                  7.2.2
pure_eval               0.2.3
Pygments                2.19.2
pyparsing               3.3.2
python-dateutil         2.9.0.post0
pyzmq                   27.1.0
seaborn                 0.13.2
six                     1.17.0
stack-data              0.6.3
tornado                 6.5.4
traitlets               5.14.3
tzdata                  2025.3
wcwidth                 0.5.0

In [3]:
import pandas as pd
import seaborn as sns
df = pd.read_excel("C:\\Users\\libin_urv2w13\\Desktop\\mljourney\\seaborn-works\\case-study-flights\\Data_Train.xlsx")
print(df.head()) # pip install openpyxl for reading excel files

       Airline Date_of_Journey    Source Destination                  Route  \
0       IndiGo      24/03/2019  Banglore   New Delhi              BLR → DEL
1    Air India       1/05/2019   Kolkata    Banglore  CCU → IXR → BBI → BLR
2  Jet Airways       9/06/2019     Delhi      Cochin  DEL → LKO → BOM → COK
3       IndiGo      12/05/2019   Kolkata    Banglore        CCU → NAG → BLR
4       IndiGo      01/03/2019  Banglore   New Delhi        BLR → NAG → DEL

  Dep_Time  Arrival_Time Duration Total_Stops Additional_Info  Price
0    22:20  01:10 22 Mar   2h 50m    non-stop         No info   3897
1    05:50         13:15   7h 25m     2 stops         No info   7662
2    09:25  04:25 10 Jun      19h     2 stops         No info  13882
3    18:05         23:30   5h 25m      1 stop         No info   6218
4    16:50         21:35   4h 45m      1 stop         No info  13302

In [4]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [5]:
# cleaning date
df["day"]=df["Date_of_Journey"].str.split("/").str[0]
df["month"]=df["Date_of_Journey"].str.split("/").str[1]
df["year"]=df["Date_of_Journey"].str.split("/").str[2]
# deleting the "Date_of_Journey" column
df.drop(columns="Date_of_Journey",inplace=True)
print(df.columns)

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'day', 'month',
       'year'],
      dtype='str')

In [6]:
df["day"]=df["day"].astype("int")
df["month"]=df["day"].astype("int")
df["year"]=df["day"].astype("int")
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  str
 1   Source           10683 non-null  str
 2   Destination      10683 non-null  str
 3   Route            10682 non-null  str
 4   Dep_Time         10683 non-null  str
 5   Arrival_Time     10683 non-null  str
 6   Duration         10683 non-null  str
 7   Total_Stops      10682 non-null  str
 8   Additional_Info  10683 non-null  str
 9   Price            10683 non-null  int64
 10  day              10683 non-null  int64
 11  month            10683 non-null  int64
 12  year             10683 non-null  int64
dtypes: int64(4), str(9)
memory usage: 1.1 MB

In [7]:
df["departure_hour"]=df["Dep_Time"].str.split(":").str[0]
df["departure_minute"]=df["Dep_Time"].str.split(":").str[1]
df.drop(columns="Dep_Time",inplace=True)
print(df.columns)

Index(['Airline', 'Source', 'Destination', 'Route', 'Arrival_Time', 'Duration',
       'Total_Stops', 'Additional_Info', 'Price', 'day', 'month', 'year',
       'departure_hour', 'departure_minute'],
      dtype='str')

In [8]:
df["Arrival_Time"] = df["Arrival_Time"].str.split(" ").str[0]
df["Arrival_hr"] = df["Arrival_Time"].str.split(":").str[0]
df["Arrival_min"] = df["Arrival_Time"].str.split(":").str[1]
df.drop(columns="Arrival_Time",inplace=True)
print(df.columns)

Index(['Airline', 'Source', 'Destination', 'Route', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'day', 'month', 'year', 'departure_hour',
       'departure_minute', 'Arrival_hr', 'Arrival_min'],
      dtype='str')

In [9]:
print(df["Total_Stops"].value_counts())
print(df[df["Total_Stops"].isnull()])

Total_Stops
1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: count, dtype: int64
        Airline Source Destination Route Duration Total_Stops Additional_Info  \
9039  Air India  Delhi      Cochin   NaN  23h 40m         NaN         No info

      Price  day  month  year departure_hour departure_minute Arrival_hr  \
9039   7480    6      6     6             09               45         09

     Arrival_min
9039          25

In [10]:
import numpy as np
print(df["Total_Stops"].unique())
df["Total_Stops"]=df["Total_Stops"].map({"non-stop":0,"1 stop":1,"2 stops":2,"3 stops":3,"4 stops":4,np.nan:1})

<StringArray>
['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops']
Length: 6, dtype: str

In [11]:
print(df["Total_Stops"])
print(df["Total_Stops"].value_counts())

0        0
1        2
2        2
3        1
4        1
        ..
10678    0
10679    0
10680    0
10681    0
10682    2
Name: Total_Stops, Length: 10683, dtype: int64
Total_Stops
1    5626
0    3491
2    1520
3      45
4       1
Name: count, dtype: int64

In [35]:
df["Duration_hr"]=df["Duration"].str.split(" ").str[0]
df["Duration_hr"]=df["Duration_hr"].str.rstrip("h")
df["Duration_min"]=df["Duration"].str.split(" ").str[1]
df["Duration_min"]=df["Duration_min"].str.rstrip("m")
# print(df["Duration_min"].value_counts(dropna=False))
df.fillna(df["Duration_min"].mode()[0],inplace=True )
print(df["Duration_min"].value_counts(dropna=False))

Duration_min
30    2478
20     997
50     972
35     939
55     910
15     903
45     896
25     803
40     637
5      623
10     525
Name: count, dtype: int64

In [ ]:
print(df.head())

       Airline    Source Destination                  Route Duration  \
0       IndiGo  Banglore   New Delhi              BLR → DEL   2h 50m
1    Air India   Kolkata    Banglore  CCU → IXR → BBI → BLR   7h 25m
2  Jet Airways     Delhi      Cochin  DEL → LKO → BOM → COK      19h
3       IndiGo   Kolkata    Banglore        CCU → NAG → BLR   5h 25m
4       IndiGo  Banglore   New Delhi        BLR → NAG → DEL   4h 45m

   Total_Stops Additional_Info  Price  day  month  year departure_hour  \
0            0         No info   3897   24     24    24             22
1            2         No info   7662    1      1     1             05
2            2         No info  13882    9      9     9             09
3            1         No info   6218   12     12    12             18
4            1         No info  13302    1      1     1             16

  departure_minute Arrival_hr Arrival_min Duration_hr Duration_min
0               20         01          10           2           50
1               50         13          15           7           25
2               25         04          25          19           30
3               05         23          30           5           25
4               50         21          35           4           45