In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv("C:\\Users\\libin_urv2w13\\Desktop\\mljourney\\Feature-Engineering\\student_data.csv")

In [20]:
df.shape

(5000, 15)

In [21]:
df.isnull().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [22]:
df.dtypes

StudentID              int64
Age                    int64
Gender                 int64
Ethnicity              int64
ParentalEducation      int64
StudyTimeWeekly        int64
Absences               int64
Tutoring               int64
ParentalSupport        int64
Extracurricular        int64
Sports                 int64
Music                  int64
Volunteering           int64
GPA                  float64
GradeClass             int64
dtype: object

In [23]:
df["GPA"]=df["GPA"].astype("int")

In [24]:
df.dtypes

StudentID            int64
Age                  int64
Gender               int64
Ethnicity            int64
ParentalEducation    int64
StudyTimeWeekly      int64
Absences             int64
Tutoring             int64
ParentalSupport      int64
Extracurricular      int64
Sports               int64
Music                int64
Volunteering         int64
GPA                  int64
GradeClass           int64
dtype: object

In [25]:
df.drop(columns="StudentID",inplace=True)

In [26]:
df.head()

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,1,1,3,16,13,0,2,0,0,0,0,3,1
1,18,1,2,0,17,28,0,2,1,1,1,0,2,2
2,15,1,0,1,13,18,1,4,0,0,0,1,3,0
3,17,1,0,3,6,4,0,3,1,0,0,0,3,1
4,17,0,1,2,6,20,0,4,0,0,0,0,3,1

In [27]:
# setting independent and dependent variables X and Y
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [28]:
X

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA
0,17,1,1,3,16,13,0,2,0,0,0,0,3
1,18,1,2,0,17,28,0,2,1,1,1,0,2
2,15,1,0,1,13,18,1,4,0,0,0,1,3
3,17,1,0,3,6,4,0,3,1,0,0,0,3
4,17,0,1,2,6,20,0,4,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,15,0,3,2,12,22,0,2,0,1,1,0,4
4996,16,0,1,2,1,2,0,2,0,1,0,0,2
4997,17,1,1,3,18,18,1,0,1,0,0,1,4
4998,16,0,2,2,15,0,0,2,1,1,1,0,4
4999,18,1,2,4,4,23,0,0,1,0,0,1,2

In [29]:
Y

0       1
1       2
2       0
3       1
4       1
       ..
4995    0
4996    2
4997    0
4998    0
4999    3
Name: GradeClass, Length: 5000, dtype: int64

In [30]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in C:\Users\libin_urv2w13\AppData\Local\Programs\Python\Python314\Lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in C:\Users\libin_urv2w13\AppData\Local\Programs\Python\Python314\Lib\site-packages (from scikit-learn) (2.4.0)
Requirement already satisfied: scipy>=1.10.0 in C:\Users\libin_urv2w13\AppData\Local\Programs\Python\Python314\Lib\site-packages (from scikit-learn) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in C:\Users\libin_urv2w13\AppData\Local\Programs\Python\Python314\Lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in C:\Users\libin_urv2w13\AppData\Local\Programs\Python\Python314\Lib\site-packages (from scikit-learn) (3.6.0)

In [31]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
xscale =scaler.fit_transform(X)
xscale

array([[0.66666667, 1.        , 0.33333333, ..., 0.        , 0.        ,
        0.5       ],
       [1.        , 1.        , 0.66666667, ..., 1.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 1.        ,
        0.5       ],
       ...,
       [0.66666667, 1.        , 0.33333333, ..., 0.        , 1.        ,
        1.        ],
       [0.33333333, 0.        , 0.66666667, ..., 1.        , 0.        ,
        1.        ],
       [1.        , 1.        , 0.66666667, ..., 0.        , 1.        ,
        0.        ]], shape=(5000, 13))

In [32]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(xscale,Y,test_size=0.2)

In [34]:
X_train

array([[0.        , 0.        , 0.66666667, ..., 0.        , 1.        ,
        0.        ],
       [0.33333333, 1.        , 0.66666667, ..., 0.        , 0.        ,
        1.        ],
       [0.33333333, 1.        , 0.        , ..., 0.        , 0.        ,
        0.5       ],
       ...,
       [1.        , 0.        , 0.66666667, ..., 1.        , 1.        ,
        0.        ],
       [0.33333333, 0.        , 0.33333333, ..., 0.        , 0.        ,
        0.5       ],
       [0.66666667, 1.        , 0.        , ..., 0.        , 1.        ,
        0.5       ]], shape=(4000, 13))

In [35]:
X_test

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.5       ],
       [0.66666667, 1.        , 0.33333333, ..., 0.        , 0.        ,
        0.5       ],
       [0.33333333, 0.        , 0.33333333, ..., 0.        , 0.        ,
        1.        ],
       ...,
       [1.        , 0.        , 0.33333333, ..., 0.        , 0.        ,
        1.        ],
       [0.33333333, 1.        , 0.33333333, ..., 1.        , 0.        ,
        0.5       ],
       [1.        , 1.        , 0.        , ..., 0.        , 1.        ,
        0.5       ]], shape=(1000, 13))