In [53]:
import numpy as np
import pandas as pd

In [54]:
df = pd.read_csv("C:\\Users\\libin_urv2w13\\Desktop\\mljourney\\Feature-Engineering\\Decision-Tree-Works\\stroke.csv")

In [55]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [56]:
df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [57]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [58]:
df[df.duplicated]

Empty DataFrame
Columns: [id, gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status, stroke]
Index: []

In [59]:
df["stroke"].value_counts() # imbalanced values

stroke
0    4861
1     249
Name: count, dtype: int64

In [60]:
df.drop(columns="id",inplace=True)
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [61]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [62]:
print(df.shape)
print(df.columns[8:10])

(5110, 11)
Index(['bmi', 'smoking_status'], dtype='object')

In [63]:
print(df.columns[8:9])

Index(['bmi'], dtype='object')

In [64]:
from sklearn.impute import SimpleImputer
impute = SimpleImputer(missing_values=np.nan,strategy="mean")
x.iloc[:,8:9]=impute.fit_transform(x.iloc[:,8:9])

In [65]:
x.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
dtype: int64

In [66]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer([("encoder",OneHotEncoder(),["gender","ever_married","work_type","Residence_type","smoking_status"])],remainder="passthrough")
x = pd.DataFrame(ct.fit_transform(x))
x.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,67.0,0.0,1.0,228.69,36.600000
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,61.0,0.0,0.0,202.21,28.893237
2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,80.0,0.0,1.0,105.92,32.500000
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,49.0,0.0,0.0,171.23,34.400000
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,79.0,1.0,0.0,174.12,24.000000

In [67]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)
x_train

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
802,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,79.00,0.0,0.0,112.64,28.5
3927,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,62.00,0.0,0.0,88.32,36.3
2337,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,21.00,0.0,0.0,59.52,33.7
3910,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,31.00,0.0,0.0,65.70,30.4
1886,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,31.00,0.0,0.0,59.63,19.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4426,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,43.00,0.0,0.0,88.00,30.6
466,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,61.00,1.0,0.0,170.05,60.2
3092,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,1.16,0.0,0.0,97.28,17.8
3772,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,80.00,0.0,0.0,196.08,31.0
860,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,46.00,0.0,0.0,100.15,50.3

In [68]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [69]:
# smote is used to balance imbalanced values, applied to x_train,y_train
! pip install imblearn

Requirement already satisfied: imblearn in C:\Users\libin_urv2w13\AppData\Local\Programs\Python\Python314\Lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in C:\Users\libin_urv2w13\AppData\Local\Programs\Python\Python314\Lib\site-packages (from imblearn) (0.14.1)
Requirement already satisfied: numpy<3,>=1.25.2 in C:\Users\libin_urv2w13\AppData\Local\Programs\Python\Python314\Lib\site-packages (from imbalanced-learn->imblearn) (2.4.0)
Requirement already satisfied: scipy<2,>=1.11.4 in C:\Users\libin_urv2w13\AppData\Local\Programs\Python\Python314\Lib\site-packages (from imbalanced-learn->imblearn) (1.17.0)
Requirement already satisfied: scikit-learn<2,>=1.4.2 in C:\Users\libin_urv2w13\AppData\Local\Programs\Python\Python314\Lib\site-packages (from imbalanced-learn->imblearn) (1.8.0)
Requirement already satisfied: sklearn-compat<0.2,>=0.1.5 in C:\Users\libin_urv2w13\AppData\Local\Programs\Python\Python314\Lib\site-packages (from imbalanced-learn->imblearn) (0.1.5)
Requirement already satisfied: joblib<2,>=1.2.0 in C:\Users\libin_urv2w13\AppData\Local\Programs\Python\Python314\Lib\site-packages (from imbalanced-learn->imblearn) (1.5.3)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in C:\Users\libin_urv2w13\AppData\Local\Programs\Python\Python314\Lib\site-packages (from imbalanced-learn->imblearn) (3.6.0)

In [70]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=42)
x_train_smote,y_train_smote = sm.fit_resample(x_train,y_train)

In [71]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train_smote,y_train_smote)
y_pred = knn.predict(x_test)
from sklearn.metrics import accuracy_score,f1_score
print("accuracy_score",accuracy_score(y_test,y_pred)*100)
print("f1_score",f1_score(y_test,y_pred)*100)

accuracy_score 81.99608610567515
f1_score 17.857142857142858

In [72]:
params = {
    "n_neighbors":[3,5,7,9],
    "weights":["uniform","distance"],
    "algorithm":["auto","ball_tree","kd_tree","brute"]
}

In [73]:
from sklearn.model_selection import GridSearchCV
gs = GridSearchCV(knn,params,cv=10)
gs.fit(x_train_smote,y_train_smote)
gs.best_params_

{'algorithm': 'auto', 'n_neighbors': 3, 'weights': 'distance'}

In [74]:
# testing best params
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(algorithm='auto',n_neighbors=3,weights='distance')
knn.fit(x_train_smote,y_train_smote)
y_pred = knn.predict(x_test)
from sklearn.metrics import accuracy_score,f1_score
print("accuracy_score",accuracy_score(y_test,y_pred)*100)
print("f1_score",f1_score(y_test,y_pred)*100)

accuracy_score 84.63796477495109
f1_score 9.248554913294797

In [75]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(x_train_smote,y_train_smote)
y_pred = dt.predict(x_test)
from sklearn.metrics import accuracy_score,f1_score
print("accuracy_score",accuracy_score(y_test,y_pred)*100)
print("f1_score",f1_score(y_test,y_pred)*100)
print(dt.get_params())

accuracy_score 86.20352250489238
f1_score 19.428571428571427
{'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'monotonic_cst': None, 'random_state': None, 'splitter': 'best'}

In [76]:
params = {
    "criterion":['gini', 'entropy', 'log_loss'],
    "splitter":['best', 'random']
}

In [77]:
from sklearn.model_selection import GridSearchCV
gs = GridSearchCV(dt,params,cv=10)
gs.fit(x_train_smote,y_train_smote)
gs.best_params_

{'criterion': 'log_loss', 'splitter': 'best'}

In [78]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(criterion="entropy",splitter="best")
dt.fit(x_train_smote,y_train_smote)
y_pred = dt.predict(x_test)
from sklearn.metrics import accuracy_score,f1_score
print("accuracy_score",accuracy_score(y_test,y_pred)*100)
print("f1_score",f1_score(y_test,y_pred)*100)

accuracy_score 88.84540117416829
f1_score 14.925373134328357